<div class="main-content" style="margin-top: 0px; padding-top: 0px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Crear usuario</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <div
                    *ngIf="foto == undefined"
                    class="uploadfilecontainer"
                    (click)="fileInput.click()"
                    appDragDrop
                    (onFileDropped)="uploadFile($event)"
                  >
                    <input
                      hidden
                      type="file"
                      #fileInput
                      (change)="uploadFile($event.target.files)"
                    />
                  </div>

                  <div class="card-avatar" *ngIf="foto != undefined">
                    <a href="javascript:void(0)">
                      <img class="img" src="{{ foto }}" style="width: 100%;" />
                    </a>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          [(ngModel)]="responsableActual.nombre"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="Nombres y Apellidos"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          [(ngModel)]="responsableActual.cedula"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="Cedula"
                          type="number"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          [(ngModel)]="responsableActual.email"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="Correo electronico"
                          type="email"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          [(ngModel)]="responsableActual.profesion"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="Profesion"
                          type="text"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          [(ngModel)]="responsableActual.celular"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="Celular"
                          type="number"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <!-- <div
                  class="files-list"
                  *ngFor="let file of files; let i = index"
                >
                  <p>{{ file }}</p>
                  <button class="delete-file" (click)="deleteAttachment(i)">
                    <img src="../../assets/Recycle_Bin_Full.png" />
                  </button>
                </div> -->
              </div>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
                (click)="guardarResponsable()"
              >
                Crear
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-lista-encargados></app-lista-encargados>
</div>
