<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title ">Lista de Usuarios</h4>
          <p class="card-category">lista de usuarios responsables de los predios.</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  CEDULA
                </th>
                <th>
                  NOMBRES y APELLIDOS
                </th>
                <th>
                  CORREO
                </th>
                <th>
                  CELULAR
                </th>
                <th>
                  PROFESION
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let item of responsablesLista">
                  <td>
                    {{ item.cedula }}
                  </td>
                  <td>
                    {{ item.nombre }}
                  </td>
                  <td>
                    {{ item.email }}
                  </td>
                  <td>
                    {{ item.celular }}
                  </td>
                  <td>
                    {{ item.profesion }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
