<div class="main-content" style="margin-top: 0px; padding-top: 0px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Creación de Predio</h4>
            <p class="card-category">
              Ingrese los datos relacionados con el predio
            </p>
          </div>
          <div class="card-body">
            <form [formGroup]="myForm">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      formControlName="numeroPredio"
                      placeholder="Número del predio"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      formControlName="titular"
                      placeholder="Titular"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      formControlName="direccion"
                      placeholder="Dirección"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Seleccione un responsable del predio</mat-label>
                    <mat-select required formControlName="responsable">
                      <mat-option>--</mat-option>
                      <mat-option
                        *ngFor="let item of responsables"
                        [value]="item"
                        >{{ item.nombre }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
                (click)="guardarPredio()"
              >
                Crear
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
