<div class="main-content" style="padding-top: 0px; margin-top: 30px;">
  <div class="container-fluid">
    <div>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-stats">
            <div class="card-header card-header-success ">
              <h4 class="card-title">Porcentaje de gestión de predio</h4>
            </div>
            <div class="card-body ">
              <mat-slider
                class="example-full-width"
                thumbLabel
                [displayWith]="formatLabel"
                min="1"
                max="100"
                step="1"
                style="width: 100%;"
                [value]="predioActual.porcentaje"
              ></mat-slider>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">store</i>
                  </div>
                  <h4 class="card-title">Datos del predio</h4>
                  <p class="card-category">Información del predio registrada</p>
                </div>
                <div class="card-body ">
                  <div class="row">
                    <h4 class="column-custom-primary">
                      Número del predio:
                    </h4>
                    <h4 class="column-custom-secondary">
                      {{ predioActual.numero }}
                    </h4>
                    <mat-divider></mat-divider>
                    <h4 class="column-custom-primary">
                      Titular:
                    </h4>
                    <h4 class="column-custom-secondary">
                      {{ predioActual.nombreTitular }}
                    </h4>
                    <mat-divider></mat-divider>
                    <h4 class="column-custom-primary">
                      Dirección:
                    </h4>
                    <h4 class="column-custom-secondary">
                      {{ predioActual.direccion }}
                    </h4>
                    <mat-divider></mat-divider>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="javascript:void(0)">
                    <img
                      class="img"
                      src="{{ predioActual.responsable.foto }}"
                    />
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title">
                    {{ predioActual.responsable.nombre }}
                  </h4>
                  <h6 class="card-category text-gray">
                    {{ predioActual.responsable.profesion }}
                  </h6>
                  <h6 class="card-category text-gray">
                    {{ predioActual.responsable.email }}
                  </h6>
                  <h6 class="card-category text-gray">
                    {{ predioActual.responsable.celular }}
                  </h6>
                  <!-- <p class="card-description">
              Los datos de contacto del responsable encargado del predio son,
              correo electrónico: {{ predioActual.responsable.email }}
            </p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">attach_file</i>
                  </div>
                  <h3 class="card-title">Documentos Relacionados</h3>
                  <p class="card-category">
                    Aquí se visualizan los documentos relacionados
                  </p>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                      <div
                        class="files-list"
                        *ngFor="let file of files; let i = index"
                      >
                        <p>{{ file }}</p>
                        <a
                          #down
                          download
                          class="delete-file"
                          target="_blank"
                          [href]="descargarArchivo(i)"
                        ></a>
                        <button class="delete-file" (click)="down.click()">
                          <img
                            src="../../../assets/cloud-2044823_960_720.png"
                          />
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div
                    class="uploadfilecontainer"
                    (click)="fileInput.click()"
                    appDragDrop
                    (onFileDropped)="uploadFile($event)"
                  >
                    <input
                      hidden
                      type="file"
                      #fileInput
                      (change)="uploadFile($event.target.files)"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
